@import url("default.css");

.blue {
    color:blue;
}

.cyan {
	color:cyan;
}

.grey {
	color:grey;
}

.green {
	color:green;
}

.olive {
	color:olive;
}

.orange {
	color:orange;
}

.pink {
	color:pink;
}

.purple {
	color:purple;
}

.red {
    color:red;
}

.yellow {
	color:gold;
}

.white {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}