/* override table width restrictions */
@media screen {

   .wy-nav-content {
    max-width: 1000px !important;
   }

   .wy-table-responsive table th {
      white-space: normal !important;
      text-align: center !important;
      vertical-align: middle !important;
   }

   .wy-table-responsive table td {
      white-space: normal !important;
      text-align: center !important;
   }

   .wy-table-responsive table tr:nth-child(even) {
      background-color: #e0e3e5 !important;
   }
	
}